@model IEnumerable<InmobiliariaAlvarezM.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
}
<p>
    <a asp-action="Create">Ingresar Nuevo Pago</a>
</p>
<h2>LISTADO DE PAGOS</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDePago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDePago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdContrato)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdPago }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdPago }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPago })
            </td>
        </tr>
        }
    </tbody>
</table>