@model IEnumerable<InmobiliariaAlvarezM.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<h1>Contratos</h1>

<p>
    <a asp-action="Create">Nuevo contrato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.FechaInicio, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.ValueFor(modelItem => item.FechaFin, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inquilino.Nombre)
                @Html.DisplayFor(modelItem => item.Inquilino.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdContrato }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.IdContrato }) |
                @Html.ActionLink("Borrar", "Delete", new { id=item.IdContrato })
            </td>
        </tr>
}
    </tbody>
</table>
